{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container ">

        <h1 class="text-white text-center mb-5">CV Maker</h1>
        <div class="d-flex justify-content-center mt-5">

            <img src="uploads/images/resume.jpg" alt="">
        </div>
    </div>

{% endblock body %}