//login
#login{
  color: #ffffff ;
  width: 400px;
}
//navbar
.navbar{
  background: #ffffff;
}
//modern
#cv{
  //height: 29.7cm;
  //margin: 20px auto;
  //overflow: scroll;
  background: #ffffff;

}
body{
  background: #2c3034!important;
  color: #ffffff;
}
.detail{
  margin-left: 10px;
}

.modern{
  h5{
    font-weight: bold;
  }
}
.classic{
  h5{
    font-weight: bold;
    color: #ffffff;
    padding: 5px;
  }
}
.small{
  font-size: 15px;

}
.year{
  width: 50%;
}
//premium
#title{
  height: 100px;

}
.square{
  list-style: square;
}
//theme
.cvMin{
  max-height: 60vh;
  //transform: scale(0.9);
  overflow-y: scroll;
  //margin-top: -50px;
  //width: 200px;

}
.resume-container{
  margin: 0 auto;
  width: 40vw;
  height: 50vh;

}
.dot{
  display: inline-block;
  width: 20px;
  height: 20px;

}
.dot:hover{
  border: 2px solid white;
  cursor: pointer;
}
.dot-active{
  border: 2px solid white;

}
.select-profile{
  position: absolute;
  font-weight: bold;
  font-size: 20px;
  right: 0;
  z-index: 5;
  width: 200px;


}
.next-step{
  position: absolute;
  font-weight: bold;
  font-size: 20px;
  bottom: 100px;
  right: 20px;
  width: 200px;
}
.previous-step{
  position: absolute;
  font-weight: bold;
  font-size: 20px;
  bottom: 100px;
  left: 20px;
  width: 200px;
}
.resume{
  background-color: #ffffff;
}
.cvMin{
  width: 30vw;

}
//experience
.add_item_link{
  position: absolute;
  bottom: 100px;
  left: 250px;
}


