//modern
#cv{
  //width: 21cm;
  //height: 29.7cm;
  //margin: 20px auto;
  //overflow: scroll;
  background: #ffffff;

}
body{
  background: #2c3034!important;
  color: #ffffff;
}


.modern{
  h5{
    font-weight: bold;
  }
}
.classic{
  h5{
    font-weight: bold;
    color: #ffffff;
    padding: 5px;
  }
}
.small{
  font-size: 15px;

}
.year{
  width: 50%;
}
//premium
#title{
  height: 100px;

}
.square{
  list-style: square;
}
//theme
.cvMin{
  max-height: 60vh;
  transform: scale(0.6);
  //overflow-y: scroll;
  //margin-top: -50px;
  //width: 200px;

}
.resume-container{
  margin: 0 auto;
  width: 40vw;
  height: 50vh;

}
.dot{
  display: inline-block;
  width: 20px;
  height: 20px;

}
.dot:hover{
  border: 2px solid white;
}



