//modern
#cv{
  width: 21cm;
  height: 29.7cm;
  margin: 20px auto;
}
.color-back{
  background-color: #953B2C ;
}
.color-text{
  color: #953B2C;
}
.modern{
  h5{
    font-weight: bold;
  }
}
.classic{
  h5{
    font-weight: bold;
    background-color: #828282;
    color: #ffffff;
    padding: 5px;
  }
}
.small{
  font-size: 15px;

}
.year{
  width: 50%;
}
//premium
#title{
  height: 100px;

}
.square{
  list-style: square;
}
.color-back-premium{
  background-color: #B69D96;
}
.color-text-premium{
  color: #B69D96;
}
//classic
.color-text-classic{
  color: #828282;
}
