#cv{
  width: 21cm;
  height: 29.7cm;
  margin: 20px auto;
}
.color-back{
  background-color: #953B2C ;
}
.color-text{
  color: #953B2C;
}
h5{
  font-weight: bold;
}
.small{
  font-size: 15px;

}
.year{
  width: 50%;
}