//modern
#cv{
  width: 21cm;
  height: 29.7cm;
  margin: 20px auto;
}


.modern{
  h5{
    font-weight: bold;
  }
}
.classic{
  h5{
    font-weight: bold;
    color: #ffffff;
    padding: 5px;
  }
}
.small{
  font-size: 15px;

}
.year{
  width: 50%;
}
//premium
#title{
  height: 100px;

}
.square{
  list-style: square;
}



