
$blue:    #0d6efd;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #d63384;
$red:     #ed5a53;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #198754;
$teal:    #20c997;
$cyan:    #0dcaf0;

$primary:       $blue;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        #ed5a53;


$theme-colors:(
        "salmon": #B69D96,
        "metal": #828282,
        "copper": #ff6961,
        "ocean": #77b5fe,
        "veggie": #77dd77,
        "tangerine": #ffb347,
        "primary":    $primary,
        "success":    $success,
        "info":       $info,
        "warning":    $warning,
        "danger":     $danger,

);

