{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}


{% block body %}
    <div class="d-flex flex-column container">
        <h2 class="text-center text-white fw-bold">Choix du modele</h2>
        <div class="resume-container">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="800000000">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active cvMin ">
                        <button class="bg-veggie text-white select-profile" data-template="classic">Choisir ce Modèle</button>
                        {% set theme = 'metal' %}
                        {% include 'components/_classic.html.twig' %}
                    </div>
                    <div class="carousel-item cvMin">
                        <button class="bg-veggie text-white select-profile" data-template="modern">Choisir ce Modèle</button>
                        {% set theme = 'copper' %}
                        {% include 'components/_modern.html.twig' %}
                    </div>
                    <div class="carousel-item cvMin">
                        <button class="bg-veggie text-white select-profile" data-template="premium">Choisir ce Modèle</button>
                        {% set theme = 'salmon' %}
                        {% include 'components/_premium.html.twig' %}

                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <h5 class="text-white">Choix du thème</h5>
        <div id="theme-selector">
            <span data-theme="salmon" class="rounded-circle bg-salmon dot"></span>
            <span data-theme="veggie" class="rounded-circle bg-veggie dot"></span>
            <span data-theme="tangerine" class="rounded-circle bg-tangerine dot"></span>
            <span data-theme="ocean" class="rounded-circle bg-ocean dot"></span>
            <span data-theme="metal" class="rounded-circle bg-metal dot"></span>
            <span data-theme="copper" class="rounded-circle bg-copper dot"></span>
        </div>
    </div>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="next-step bg-veggie text-white">Prochaine étape</button>
    {{ form_end(form) }}
{% endblock %}
